$e-global-color-primary: #4BCE06;
$e-global-color-secondary: #54595F;
$e-global-color-text: #FFFFFF;
$e-global-color-accent: #61CE70;
$e-global-typography-primary-font-family: "Oswald";
$e-global-typography-primary-font-weight: 600;
$e-global-typography-secondary-font-family: "Roboto Slab";
$e-global-typography-secondary-font-weight: 400;
$e-global-typography-text-font-family: "Poppins";
$e-global-typography-text-font-size: 14px;
$e-global-typography-text-font-weight: 400;
$e-global-typography-text-line-height: 25.2px;
$e-global-typography-accent-font-family: "Roboto";
$e-global-typography-accent-font-weight: 500;
$background: #19131f;
