@use '../../styles/responsive' as r;

.statsContainer {
  max-width: 620px;
  margin: 0 auto;
  @include r.desktop {
    max-width: none;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
}
