header.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  > ul.menu {
    padding-top: 10px;
    > li:first-child {
      margin-right: auto;
    }
  }
}

.imageContainer {
  display: block;
  padding-bottom: 10px;
  .image {
    width: 40px;
  }
}
